.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text {
  font-size: 30px;
  font-weight: bold;
}
.button {
  width: calc(20%);
  padding: 15px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
